/* ******************************************** GENERAL********************************************* */


* {
	padding: 0;
	margin: 0;
	font-size: 19px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1 {
	text-align: center;
	margin: 1rem 0;

}

nav {
	display: flex;
	justify-content: center;
	background-color: black;
}

nav a {
	margin: 1rem;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #c1c1e9;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 0;

}

form p {
	margin: .5rem;

}

label {
	font-size: 19px;
	display: flex;
	flex-direction: column;
}

input {
	padding: .25rem;
	font-size: 19px;
}



table {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 2rem 0;
}

th {
	padding: .5rem;
}

td {
	padding: .5rem .5rem;
	border: 1px solid black;
}

div {
	text-align: center;
	margin: 1rem 0;
}

.btn {
	border: 1px solid #00000054;
	padding: 0.5rem 0.2rem;
	color: #000;
	text-decoration: none;
	background-color: #7087da40;
}