/* ******************************************** GENERAL********************************************* */


* {
	padding: 0;
	margin: 0;
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #c1c1e9!important;
}


h1 {
	text-align: center;
	margin: 1rem 0;
	font-family: 'Raleway', sans-serif;

}

nav {
	display: flex;
	justify-content: center;
	background-color: #000;
}

nav a {
	margin: 1rem;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}

nav a i{
	font-size: 25px;
}

a{
	color: #000;
	text-decoration: none;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 0;

}

form p {
	margin: .5rem;

}

label {
	font-size: 19px;
	display: flex;
	flex-direction: column;
}

input {
	padding: .25rem;
	font-size: 19px;
}

span{
	font-size: 25px;
}

/*table {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 2rem 0;
}

th {
	padding: .5rem;
}

td {
	padding: .5rem .5rem;
	
}*/

div {
	text-align: center;
	margin: 1rem 0;
}

.btn {
	border: 1px solid #00000054;
	padding: 0.5rem 0.2rem;
	color: #000;
	text-decoration: none;
	background-color: #7087da40;
}

.marg{
	background: none;
	margin: 0 .5rem;
	padding: 0 .3rem;
	transition: .35s;
	border: 1px solid black;
	text-decoration: none;
	color: black;
}

.marg:hover{
	background: #4c6ad540;
}

.panier{
	background: #5cab5c;
    text-align: center;
    border-radius: 25px;

	position: absolute;
    top: 18px;
    right: -12px;
    padding: 0 10px;
}

.relative{
	position: relative;
}